<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-block">
				<div class="row justify-content-center">
					<div class="col-sm-6">
						<input type="date" #indice id="icon-search" class="form-control mb-4" placeholder="search . . ">
						<input type="date" #indice id="icon-search" class="form-control mb-4" placeholder="search . . ">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-12">
		<h1>Nombre de reservation par service</h1>
		<div class="chart-container">
			<canvas  id="MyChart" >{{ chart }}</canvas>
	  </div>
	</div>
</div>
