<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-block">
				<div class="row justify-content-center">
					<div class="col-sm-6">
						<input type="text" #indice id="icon-search" class="form-control mb-4" placeholder="search . . ">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-12">
			<div class="table-responsive">
				<table class="table table-xl table-hover">
				  <thead>
					<tr>
						<th>Description</th>
						<th>Service</th>
						<th>Date début </th>
						<th>Date fin </th>
						<th></th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>Offre pour deux personnes</td>
					  <td>Make up</td>
					  <td>2024-02-17</td>
                      <td>2024-02-20</td>
					  <td><button type="button" class="btn btn-danger">Supprimer</button> </td>
					</tr>

					<tr>
                        <td>Brushing offert</td>
                        <td>Coloration</td>
                        <td>2024-02-17</td>
                        <td>2024-02-20</td>
                        <td><button type="button" class="btn btn-danger">Supprimer</button> </td>
                    </tr>

				  </tbody>
				</table>
			  </div>
	</div>
</div>
