<header class=main-header>
    <div class=main-info>
      <div class=container>
        <div class=row>
          <h1 class=logo>
            <a href=#>
              <img src="assets/images/logo.svg" class="logo-light">
            </a>
          </h1>
          <div class=contact>
            <div class=contact-icon>
              <i class="fas fa-phone-alt"></i>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
    <div class=main-nav>
      <div class=container>
        <nav>
          <div>
            <a href=# class=active>HOME</a>
          </div>
          <div>
            <a href=#>Services</a>
          </div>
          <div>
            <a href=#>Mes rendez vous</a>
          </div>
          <div>
            <a href=#>Mes préférences</a>
          </div>
          <div>
            <a href=#>Mon profil</a>
          </div>
          <div class=search>
            <a href=#>
              <i class="fas fa-search"></i>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </header>

  



<footer class=main-footer>
    <div class=container>
      <div class=row>
        <div class=col-4>
          <div class=footer-logo>
            <a href=#>
              <img src="assets/images/logo.svg" class=logo-light >
            </a>
          </div>
          <ul class=sns>
            <li class=icon-fb>
              <a href=#>
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class=icon-twitter>
              <a href=#>
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class=icon-instagram>
              <a href=#>
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class=icon-pinterest>
              <a href=#>
                <i class="fab fa-pinterest"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class=col-4>
          <h3>CONTACT US</h3>
          <div class=contact>
            <div class=contact-icon>
              <i class="fas fa-phone-alt"></i>
            </div>
            <div class=contact-main>
              <a href=#>7864546876</a>
              <br />
              <a href=#>0178965324768</a>
            </div>
          </div>
          <div class=contact>
            <div class=contact-icon>
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class=contact-main>
              <a href=#>290,69DA Norrth America, Silvia Cit</a>
            </div>
          </div>
          <div class=contact>
            <div class=contact-icon>
              <i class="fas fa-envelope"></i>
            </div>
            <div class=contact-main>
              <a href=#>designbyali@mail.com</a>
            </div>
          </div>
        </div>
        <div class=col-4>
          <h3>Any Query</h3>
          <p> Enter your email address to receive up-to-date blog, new patient services and other useful stuff, delivered right to your inbox. </p>
          <div class=form-group>
            <input class=form-control type=text placeholder="Your e-mail..." />
            <button class=submit-btn type=submit>Subscribe</button>
          </div>
        </div>
      </div>
      <div class=row>
        <div class=copyright> © 2023 Build by Nomena - Anja
        </div>
      </div>
    </div>
  </footer>