<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	



<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Welcome to login</h2>
								<p>Don't have an account?</p>
								<a [routerLink]="['/auth/signup']" class="btn btn-white btn-outline-white" >Sign up</a>
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign In</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
              <form [formGroup]="loginGroup" (ngSubmit)="loginProcess()" >
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Identifiant</label>
                  <input type="email" class="form-control" placeholder="Identifiant"  [(ngModel)]="defaultLog" formControlName="mail" />
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Mot de passe</label>
                  <input type="password" class="form-control" placeholder="Mot de passe"  [(ngModel)]="defaultPwd" formControlName="mdp" />
		            </div>
		            <div class="form-group">
		            	<div *ngIf="isLoading" class="text-center">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Login process...
                    </button>
                  </div>
                  <div class="form-group text-start mb-4">
                    <div *ngIf="loginError" class="alert alert-danger alert-dismissible fade show" role="alert">
                        Veuillez vos informations !
                </div>
                </div>
                  <button *ngIf="!isLoading" class="btn btn-primary mb-4">Login</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>
		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
</section>
