<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-block">
				<div class="row justify-content-center">
					<div class="col-sm-6">
						<input type="text" #indice id="icon-search" class="form-control mb-4" placeholder="search . . ">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-12">
			<div class="table-responsive">
				<table class="table table-xl table-hover">
				  <thead>
					<tr>
						<th>Nom</th>
						<th>Type</th>
						<th>Montant</th>
						<th>Date</th>
						<th></th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>Jirama</td>
					  <td>Fixe</td>
					  <td>50 000</td>
                      <td>2024-01-01</td>
					  <td><button type="button" class="btn btn-primary">Modifier</button> </td>
					  <td><button type="button" class="btn btn-danger">Supprimer</button> </td>
					</tr>

					<tr>
						<td>Loyer</td>
						<td>Fixe</td>
						<td>200 000</td>
						<td>2024-01-01</td>
						<td><button type="button" class="btn btn-primary">Modifier</button> </td>
						<td><button type="button" class="btn btn-danger">Supprimer</button> </td>
					</tr>

					<tr>
						<td>Réparation chauffe-eau</td>
						<td>Non-Fixe</td>
						<td>10 000</td>
						<td>2024-02-05</td>
						<td><button type="button" class="btn btn-primary">Modifier</button> </td>
						<td><button type="button" class="btn btn-danger">Supprimer</button> </td>
					</tr>

				  </tbody>
				</table>
			  </div>
	</div>
</div>
